@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 1rem;
  text-align: center;

  button {
    background: none;
    border: 0;
    color: $emphasis;
    cursor: pointer;
    margin: 1rem auto;
    text-transform: uppercase;
  }

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @include for-tablet {
    flex-direction: row;
  }
}

.graphic-footer button {
  font-size: 2rem;
  padding: 1rem 2rem;
}
