@mixin for-mobile {
  @media (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
