@import '../../styles/variables';
@import '../../styles/mixins';

.select {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid $text;
  color: $blue;
  cursor: pointer;
  height: 3rem;
  padding: 0.4rem 1.4rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include for-tablet {
    width: 20rem;
  }
}
