@import '../../styles/mixins';
@import '../../styles/variables';

.preview {
  background: #ffffff;
  border: 4px solid $text;
  padding: 1rem;
  width: 100%;

  @include for-tablet {
    margin: 1rem;
    min-height: 400px;
    width: 300px;
  }

  h5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include for-tablet {
      flex-direction: row;
    }
  }
}

.product {
  display: flex;
  justify-content: center;
}
