@import '../../styles/variables';
@import '../../styles/mixins';

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-tablet {
    min-height: 600px;
  }

  div {
    :global {
      animation: slideIn 250ms ease-out;
    }
  }
}

.step h4 {
  font-weight: 600;
  margin: 3rem 0;
  text-align: center;
}

.step footer {
  display: flex;
  justify-content: center;
}

.step footer button {
  background: $emphasis;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  margin: 0 1rem;

  padding: 1rem 3rem;

  @include for-tablet {
    min-width: 200px;
  }
}

@keyframes :global(slideIn) {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
