@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  background: $blue;
  margin-bottom: 1rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @include for-tablet {
    margin-bottom: 0;
  }

  @include for-desktop {
    padding: 1rem;
  }
}

.header-content {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-tablet {
    flex-direction: row;
  }
}
