@import '../../styles/mixins';
@import '../../styles/variables';

$border: #eeeeee;

.table {
  font-size: 1.4rem;
  font-weight: normal;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  tr td:last-child,
  tr th:last-child {
    padding-right: 1rem;

    @include for-tablet {
      text-align: center;
    }
  }

  th,
  td {
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
    text-align: left;
    vertical-align: middle;
    word-break: break-word;
  }

  thead th {
    background-color: $blue;
    color: #fff;
    padding: 1.3rem 0.6rem;

    @include for-tablet {
      position: sticky;
      top: 51px;
    }
  }

  tbody td {
    border-bottom: 1px dashed $border;
  }

  tr:hover td {
    background-color: lighten($emphasis, 45);
  }

  img {
    display: block;
    max-width: 5.5rem;
    padding: 0.5rem;
  }

  a {
    background-color: #ffffff;
    border: 1px dashed $emphasis;
    border-radius: 0.5rem;
    display: block;
    color: $emphasis;
    padding: 0.5rem 1.5rem;
    text-align: center;
    transition: background-color 250ms ease-out;
    will-change: background-color;
    width: 100%;

    &:hover {
      background-color: $emphasis;
      color: #ffffff;
    }

    @include for-mobile {
      margin-bottom: 1rem;
    }
  }

  @include for-mobile {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1rem solid $border;
    }

    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: '';
    }
    td:nth-of-type(2):before {
      content: 'Author';
    }
    td:nth-of-type(3):before {
      content: 'Name';
    }
    td:nth-of-type(4):before {
      content: 'Language';
    }
    td:nth-of-type(5):before {
      content: 'Stars';
    }
    td:nth-of-type(6):before {
      content: 'Description';
    }
    td:nth-of-type(7):before {
      content: 'Link';
    }
  }
}

.description {
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.8rem;
  text-overflow: ellipsis;

  &:global(.is-open) {
    white-space: normal;
  }
}
