@import './styles/mixins';
@import './styles/variables';

.view {
  display: flex;
  flex-direction: column;

  @include for-tablet {
    flex-direction: row;
  }
}

.view main {
  flex: 1;
  margin: 0 0 1rem;
  width: 100%;

  h2 {
    margin-top: 1rem;
  }
}
