@import '../../../styles/mixins';
@import '../../../styles/variables';

.picker {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-desktop {
    flex-direction: row;
  }
}

.picker button {
  background: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 1rem;
  padding: 2rem;
}

.picker button span {
  font-size: 2rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.picker button.is-active {
  border: 2px dashed $emphasis;
}
